@model DietChart.Models.Admin

@{
    ViewBag.Title = "DietChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    @using (Html.BeginForm("DietChart", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <div class="col-12 grid-margin stretch-card">
            <div class="card bg-aqua">
                <div class="card-body">
                    <h4 class="card-title">Diet Chart</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="exampleInputName1">Name <span style="color: red">*</span></label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                        </div>
                        <div class="col-sm-3">
                            <label for="exampleInputEmail3">Age <span style="color: red">*</span></label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="Age">
                        </div>
                        <div class="col-sm-3">
                            <label for="exampleInputPassword4">Weight <span style="color: red">*</span></label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="Weight">
                        </div>
                        <div class="col-sm-3">
                            <label for="exampleSelectGender">Height <span style="color: red">*</span></label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="Height">
                        </div>
                        <div class="col-sm-3">
                            <label for="exampleInputName1">Date <span style="color: red">*</span></label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="Date">
                        </div>
                        <div class="col-sm-3">
                            <label for="exampleInputEmail3">Diet Preference <span style="color: red">*</span></label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="Diet Preference">
                        </div>
                        <div class="col-sm-3">
                            <label for="exampleInputPassword4">BMI <span style="color: red">*</span></label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="BMI">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-center">On Waking Up</h4>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name<span style="color: red">*</span> </th>
                                        <th>Mobile No<span style="color: red">*</span> </th>
                                        <th>Address<span style="color: red">*</span> </th>
                                        <th>Action<span style="color: red">*</span> </th>
                                    </tr>
                                </thead>
                                <tbody id="TextBoxContainer">
                                    <tr class="mycontainer" id="mainrow">
                                        <td>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "Name form-control", @Placeholder = "Customer Name" })

                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "MobileNo form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberKey(event)", @maxlength = "10" })

                                        </td>
                                        <td>
                                            @Html.TextAreaFor(m => m.Address, new { @class = "Address form-control", @Placeholder = "Address.." })

                                        </td>
                                        <td>
                                            <input type="button" id="add" data-toggle="tooltip" data-original-title="Add" value="Add" style="width:80px" class="btn bg-orange" />
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-center">Breakfast</h4>
                            <table class="table  table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name<span style="color: red">*</span> </th>
                                        <th>Mobile No<span style="color: red">*</span> </th>
                                        <th>Address<span style="color: red">*</span> </th>
                                        <th>Action<span style="color: red">*</span> </th>
                                    </tr>
                                </thead>
                                <tbody id="TextBoxContainer">
                                    <tr class="mycontainer" id="mainrow">
                                        <td>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "Name form-control", @Placeholder = "Customer Name" })

                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "MobileNo form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberKey(event)", @maxlength = "10" })

                                        </td>
                                        <td>
                                            @Html.TextAreaFor(m => m.Address, new { @class = "Address form-control", @Placeholder = "Address.." })

                                        </td>
                                        <td>
                                            <input type="button" id="add" data-toggle="tooltip" data-original-title="Add" value="Add" style="width:80px" class="btn bg-orange" />
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>

                    <br />

                    
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-center">Lunch</h4>
                            <table class="table  table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name<span style="color: red">*</span> </th>
                                        <th>Mobile No<span style="color: red">*</span> </th>
                                        <th>Address<span style="color: red">*</span> </th>
                                        <th>Action<span style="color: red">*</span> </th>
                                    </tr>
                                </thead>
                                <tbody id="TextBoxContainer">
                                    <tr class="mycontainer" id="mainrow">
                                        <td>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "Name form-control", @Placeholder = "Customer Name" })

                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "MobileNo form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberKey(event)", @maxlength = "10" })

                                        </td>
                                        <td>
                                            @Html.TextAreaFor(m => m.Address, new { @class = "Address form-control", @Placeholder = "Address.." })

                                        </td>
                                        <td>
                                            <input type="button" id="add" data-toggle="tooltip" data-original-title="Add" value="Add" style="width:80px" class="btn bg-orange" />
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <br />


                    <div id="orderItems">
                        <table class="table  table-striped table-bordered" id="orderdetailsItems"></table>
                        <span id="orderItemError" style="color:red"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                <input class="btn bg-orange btn-lg pull-left" type="submit" value="Save" id="btnsssubmit" name="Save" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />*@
<script type="text/javascript">
    $(document).ready(function () {

        $('#add').click(function () {
            debugger;
            var isAllValid = true;
            if (!($('#Name').val().trim() != '' && ($('#Name').val().trim()))) {
                $("#Name").addClass('errortext');
                $('#Name').focus();
                isAllValid = false;

            }
            else if (!($('#MobileNo').val().trim() != '' && ($('#MobileNo').val().trim()))) {
                $("#MobileNo").addClass('errortext');
                $('#MobileNo').focus();
                isAllValid = false;
            }
            else if (!($('#Address').val().trim() != '' && ($('#Address').val().trim()))) {
                $("#Address").addClass('errortext');
                $('#Address').focus();
                isAllValid = false;
            }
            debugger
            if (isAllValid) {
                var $newRow = $('#mainrow').clone().removeAttr('id');
                $('.Name', $newRow).prop('disabled', true).val($('#Name').val());
                $('.MobileNo', $newRow).prop('disabled', true).val($('#MobileNo').val());
                $('.Address', $newRow).prop('disabled', true).val($('#Address').val());
                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');
                //remove id attribute from new clone row
                $('#Name,#MobileNo,#Address,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#orderdetailsItems').append($newRow);
                //clear select data
                $('#Name,#MobileNo,#Address').val('');
                $('#orderItemError').empty();
            }

        })
        //remove button click event
        $('#orderdetailsItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });
        $('#btnsssubmit').click(function () {
            var isAllValid = true;
            if ($('#exampleInputName1').val() == '' || $('#exampleInputName1').val() == null) {
                $("#exampleInputName1").addClass('errortext');
                $('#exampleInputName1').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#Pk_CategoryId').val() == '0') {
                $("#Pk_CategoryId").addClass('errortext');
                $('#Pk_CategoryId').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#VisitDate').val() == '') {
                $("#VisitDate").addClass('errortext');
                $('#VisitDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#VehicleNumber').val() == '') {
                $("#VehicleNumber").addClass('errortext');
                $('#VehicleNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }


            $('#orderItemError').text('');
            var list = [];
            var errorItemCount = 0;
            $('#orderdetailsItems tr').each(function (index, ele) {
                if (
                    $('Name', this).val() == "") {
                    errorItemCount++;
                    $(this).addClass('error');
                } else {
                    var orderItem = {
                        CustomerName: ($('.Name', this).val()),
                        Mobile: $('.MobileNo', this).val(),
                        Address: $('.Address', this).val()
                    }
                    list.push(orderItem);
                }

            })
            console.log(list)
            if (errorItemCount > 0) {
                $('#orderItemError').text(errorItemCount + " invalid entry in order item list.");
                isAllValid = false;
            }

            if (list.length == 0) {
                $('#orderItemError').text('At least 1 row data required.');
                isAllValid = false;
                $("#divload").css({ 'display': 'none' });
                return false;
            }

            if (isAllValid) {
                debugger;
                var data = {
                    AddData: JSON.stringify(list),
                }
                debugger
                var formData = new FormData();
                var files = $("#postedFile1").get(0).files;
                formData.append("Image", files[0]);
                formData.append("SiteID", $('#SiteID').val());
                formData.append("VisitorId", $('#VisitorId').val());
                formData.append("VisitorDetailId", $('#VisitorDetailId').val());
                formData.append("AssociateID", $('#UserID').val());
                formData.append("Pk_CategoryId", $('#Pk_CategoryId').val());
                formData.append("VisitDate", $('#VisitDate').val());
                formData.append("AssociateName", $('#AssociateName').val());
                formData.append("VehicleNumber", $('#VehicleNumber').val());
                formData.append("PickUpLocation", $('#PickUpLocation').val());
                formData.append("DropLocation", $('#DropLocation').val());
                formData.append("PickUpTime", $('#PickUpTime').val());
                formData.append("DropTime", $('#DropTime').val());
                formData.append("dataValue", JSON.stringify(data));
                console.log(formData);
                $.ajax({
                    type: 'POST',
                    url: "AddProfile",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    //url: 'save',
                    //Type: "POST",
                    //DataType: "JSON",
                    //data: { dataValue: JSON.stringify(data), SiteID: $("#SiteID").val(), AssociateID: $("#UserID").val(), Amount: $("#Amount").val(), VisiteDate: $("#VisitDate").val(), postedFile1: formData},

                    //contentType: 'application/json',
                    success: function (response) {
                        //alert(result);
                        if (response.status) {

                            // here we will clear the form
                            list = [];

                            //$('#ExpenseID,#ExpenseName,#TransactionID,#PaymentMode').val('0');
                            //$('#Check,#Amount,#Date,#Remarks').val('');
                            //$('#orderdetailsItems').empty();
                            //$('#orderdetailsItems').hide();
                        }
                        else {
                            alert('Error');
                        }
                        $('#submit').text('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#submit').text('Save');
                    }
                });
                $('#submit').text('Save');
            }
        });
    });

</script>
<script>
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>









