@model DietChart.Models.Admin

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="png.jpg" href="~/assets/images/favicon.jpeg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    @*<title>PrintDietChartDetails</title>*@
    <style>
        p, b, .btn-cyan, span, th, td, table {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }

        table, th, td {
            border: 1px solid black !important;
        }

        th, td {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            border: 1px solid black;
        }

        @@media print {
            #printPageButton {
                display: none;
            }
        }

        #printPageButton:hover {
            color: #fff;
        }

        .btn-cyan {
            color: #ffffff;
            float: left;
            text-align: center;
            background: #a20e0e;
            padding: 5px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .card {
            box-shadow: 1px 1px 4px gray;
        }

        .table td {
            padding: 5px;
        }

        p {
            margin-bottom: 2px !important;
        }

        @@media(max-width:600px) {
            .logo {
                max-width: 20% !important;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <center>
                    <img src="../assets/images/logo.jpeg" class="img-fluid logo" alt="logo1" style="max-width:11%;" />
                    <button class="btn btn-cyan mt-2" id="printPageButton" onclick="window.print()">Print</button>
                </center>
                <div class="table-responsive">
                    <table class="table w-100 mt-4 mb-4">
                        <tr>
                            <td><b>Name :</b> @ViewBag.Name</td>
                            <td>
                                <b> Age :</b> @ViewBag.Age Year
                            </td>
                            <td>
                                <b>Weight :</b> @ViewBag.Weight Kg
                            </td>
                            <td>
                                <b>Height :</b> @ViewBag.Height Feet
                            </td>
                            <td>
                                <b>Date :</b> @ViewBag.Date
                            </td>
                        </tr>
                        <tr>
                            @*<td> <b>Date :</b> @ViewBag.Date</td>*@
                            <td>
                                <b>Diet Preference :</b> @ViewBag.DietPreference
                            </td>
                            <td>

                                <b>BMI :</b>  @ViewBag.BMI
                            </td>
                            <td>

                                <b>Calorie :</b>  @ViewBag.Calorie Kcal
                            </td>
                            <td colspan="2">

                                <b>Protein :</b>  @ViewBag.Protein gm
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table style="text-align:center;" class="table w-100">
                        <tr class="table-info">
                            <td style="background:#bee5eb !important;min-width:200px;"><b>On Waking Up</b></td>
                            <td style="background:#bee5eb !important;"><b>Morning Snack</b></td>
                        </tr>
                        <tr>
                            <td>
                                @if (Model != null)
                                {
                                    if (Model.lstonwakingup != null)
                                    {
                                        foreach (var Item in Model.lstonwakingup)
                                        {
                                            <p>@Item.OnWakingUp</p>
                                        }
                                    }
                                }
                            </td>
                            <td rowspan="3">
                                @if (Model != null)
                                {
                                    if (Model.lstmorningsnack != null)
                                    {
                                        foreach (var Item in Model.lstmorningsnack)
                                        {
                                            <p>@Item.MorningSnack</p>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr class="table-info"><td style="background:#bee5eb !important;"><b>Breakfast</b></td></tr>
                        <tr>
                            <td>
                                @if (Model != null)
                                {
                                    if (Model.lstbreakfast != null)
                                    {
                                        foreach (var Item in Model.lstbreakfast)
                                        {
                                            <p>@Item.Breakfast</p>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        @*<tr class="table-info"><td colspan="2"><b>Breakfast</b></td></tr>*@

                        <tr class="table-info"><td colspan="2" style="background:#bee5eb !important;"><b>Lunch</b></td></tr>
                        <tr>
                            <td colspan="2">
                                @if (Model != null)
                                {
                                    if (Model.lstlunch != null)
                                    {
                                        foreach (var Item in Model.lstlunch)
                                        {
                                            <p>@Item.Lunch</p>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr class="table-info"><td colspan="2" style="background:#bee5eb !important;"><b>Evening Snack</b></td></tr>
                        <tr>
                            <td colspan="2">
                                @if (Model != null)
                                {
                                    if (Model.lsteveningsnack != null)
                                    {
                                        foreach (var Item in Model.lsteveningsnack)
                                        {
                                            <p>@Item.EveningSnack</p>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr class="table-info"><td colspan="2" style="background:#bee5eb !important;"><b>Dinner</b></td></tr>
                        <tr>
                            <td colspan="2">
                                @if (Model != null)
                                {
                                    if (Model.lstdinner != null)
                                    {
                                        foreach (var Item in Model.lstdinner)
                                        {
                                            <p>@Item.Dinner</p>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-6">
                        <b>Note :</b><br />
                        @if (Model != null)
                        {
                            if (Model.lstNote != null)
                            {
                                char i = '*';
                                foreach (var Item in Model.lstNote)
                                {
                                    if (Item.NoteId != null && Item.NoteId != "")
                                    {
                                        <span><b>@i</b></span>  <span>@Item.Note</span><br />
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="col-sm-6 text-right col-6">
                        <p>  Dt. Bhagyashree <br />Director</><br />It's Healthy<br /> Mobile-708030747</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
